.training-main {
    display: flex;
    flex-direction: column;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
}

.training-title {
    font-size: 20px;
    color: rebeccapurple;
}

.training-content {
    display: flex;
    flex-direction: row;
}

.training-button {
    height: 30px;
}

.start-training {
    color: green;
    width: 120px;
    height: 30px;
}

.stop-training {
    color: red;
}
